*{
    font-family: 'monospace', 'Courier New', Courier;
}
#board, .boardInfo{
    max-width: 500px;
}
#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#start, .boardInfo{
    font-size: 25px;
}
#gameOver{
    display: none;
}
.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#start{
    background-color: aqua;
    border: none;
    color: black;
}
#scoreBoard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}
.emptySquare{
    background-color: blue;
}
.snakeSquare{
    background-color: aquamarine;
}
.foodSquare{
    background-color: green;
}